<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minicup.materialdesign">

    <uses-sdk tools:overrideLibrary="com.luseen.luseenbottomnavigation" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FAB.FABActivity" />
        <activity android:name=".FAB.FABActivity1" />
        <activity android:name=".FAB.FABActivity2" />
        <activity android:name=".FAB.FabActivity3" />
        <activity android:name=".FAB.FabActivity4" />
        <activity android:name=".FAB.FABActivity5" />
        <activity android:name=".FAB.FabMenuActivity" />
        <activity android:name=".Snackbar.SnackbarActivity" />
        <activity android:name=".Behavior.BehaviorListActivity" />
        <activity android:name=".Toolbar.ToolbarListActivity" />
        <activity
            android:name=".Toolbar.ToolbarActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity2"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutMultiViewActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity3"
            android:theme="@style/NoActionBar" />
        <activity android:name=".RecyclerView.RecyclerViewListActivity" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity4"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecyclerView.RecyclerViewSimpleActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecyclerView.RecyclerViewVerticalActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecyclerView.RecyclerviewHorizontalActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".RecyclerView.GridLayoutManagerVerticalActivity" />
        <activity android:name=".SwipeCards.CardsActivity" />
        <activity android:name=".RecyclerView.GridLayoutManagerHorizontalActivity" />
        <activity android:name=".RecyclerView.StaggeredVerticalActivity" />
        <activity android:name=".RecyclerView.StaggeredHorizontalActivity" />
        <activity android:name=".RecyclerView.MultiSizeStaggeredVerticalActivity" />
        <activity android:name=".RecyclerView.MultiSizeStaggeredHorizontalActivity" />
        <activity android:name=".RecyclerView.ItemAnimationActivity" />
        <activity android:name=".RecyclerView.MeiziActivity" />
        <activity android:name=".RecyclerView.MeiziStaggeredActivity" />
        <activity android:name=".RecyclerView.MeiziBothRefreshActivity" />
        <activity android:name=".BottomSheet.BottomSheetBehaviorActivity" />
        <activity android:name=".Behavior.BottomSheetApplay1Activity" />
        <activity android:name=".BottomSheet.BottomSheetListActivity" />
        <activity android:name=".BottomSheet.BottomSheetDialogActivity" />
        <activity
            android:name=".Toolbar.CollapsingAppBarLayoutActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Toolbar.ScrollingActivity2"
            android:theme="@style/NoActionBar" />
        <activity android:name=".TabLayout.TabLayoutListActivity" />
        <activity
            android:name=".TabLayout.TabLayout1Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TabLayout.TabLayout2Activity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Navigation.NavigationListActivity" />
        <activity
            android:name=".Navigation.NavigationSystemActivity"
            android:label="@string/title_activity_navigation_system"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TextInputLayout.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MaterialDesign.RevealActivity" />
        <activity android:name=".TabLayout.TabLayout3Activity" />
        <activity android:name=".BottomNavigationView.BottomNavigationViewActivity" />
        <activity android:name=".BottomNavigationView.BasicBottomNavigationViewActivity" />
        <activity android:name=".BottomNavigationView.BottomNavigationViewPagerActivity" />
        <activity android:name=".BottomNavigationView.BottomNavigationViewPagerActivity2" />
        <activity android:name=".BottomNavigationView.LuseenBottomNavigationActivity" />
        <activity android:name=".NotificationCompat.NotificationCompatListActivity" />
        <activity android:name=".NotificationCompat.BitTextStyleActivity" />
        <activity android:name=".NotificationCompat.BigPictureStyleActivity" />
        <activity android:name=".NotificationCompat.InboxStyleActivity" />
        <activity android:name=".MaterialDesign.MaterialDesignListActivity" />
        <activity android:name=".MaterialDesign.ZActivity" />
        <activity android:name=".MaterialDesign.ShadowAndOutlineActivity" />
        <activity android:name=".MaterialDesign.ViewDragHelperActivity" />
        <activity android:name=".MaterialDesign.TintActivity" />
        <activity android:name=".MaterialDesign.RippleActivity" />
        <activity android:name=".MaterialDesign.CircularRevealActivity" />
        <activity android:name=".Transition.TransitionListActivity" />
        <activity android:name=".Transition.SimpleTransitionActivity" />
        <activity android:name=".Transition.TransitionActivity" />
        <activity
            android:name=".Transition.ShareElementsActivity"
            android:theme="@style/TransitionExplode" />
        <activity android:name=".Transition.TransitionDescActivity" />
        <activity android:name=".Transition.SimpleTransition2Activity" />
        <activity android:name=".Transition.TransitionDrawableActivity" />
        <activity android:name=".Transition.CustomTransitionActivity"></activity>
    </application>

</manifest>