<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minicup.materialdesign">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FAB.FABActivity" />
        <activity android:name=".FAB.FABActivity1" />
        <activity android:name=".FAB.FABActivity2" />
        <activity android:name=".FAB.FabActivity3" />
        <activity android:name=".FAB.FabActivity4" />
        <activity android:name=".FAB.FABActivity5" />
        <activity android:name=".FAB.FabMenuActivity" />
        <activity android:name=".Snackbar.SnackbarActivity" />
        <activity android:name=".Behavior.BehaviorListActivity" />
        <activity android:name=".Toolbar.ToolbarListActivity" />
        <activity
            android:name=".Toolbar.ToolbarActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity2"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutMultiViewActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity3"
            android:theme="@style/NoActionBar" />
        <activity android:name=".RecyclerView.RecyclerViewListActivity" />
        <activity
            android:name=".Toolbar.AppBarLayoutActivity4"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecyclerView.RecyclerViewSimpleActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecyclerView.RecyclerViewVerticalActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RecyclerView.RecyclerviewHorizontalActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".RecyclerView.GridLayoutManagerVerticalActivity" />
        <activity android:name=".SwipeCards.CardsActivity" />
        <activity android:name=".RecyclerView.GridLayoutManagerHorizontalActivity" />
        <activity android:name=".RecyclerView.StaggeredVerticalActivity" />
        <activity android:name=".RecyclerView.StaggeredHorizontalActivity" />
        <activity android:name=".RecyclerView.MultiSizeStaggeredVerticalActivity" />
        <activity android:name=".RecyclerView.MultiSizeStaggeredHorizontalActivity" />
        <activity android:name=".RecyclerView.ItemAnimationActivity"
            ></activity>
    </application>

</manifest>